$text: #18181c;
$text-file: #2e3a59;
$text-secondary: #c6ced6;
$blue: #0073e5;
$blue-light: #7dbeff;
$price: #0074e5;
$dark-eclipse: #0b2349;
$green: #00b54f;
$green-80: #00B54FCC;
$yellow: #ffd710;
$red: #ff0c0c;
$white: #fff;
$footer: #1c1c1e;
$gray: #eceff1;
$gray-primary: #222124;
$gray-light: #e5e5e5;
$gray-dark: #5A5C60;
$gray-secondary: #5F5F61;
$success-50: #eceff1;
$success-100: #C6CED6;
$success-150: #dbdbdb;
$success-200: #b3bdc9;
$success-300: #8d9cad;
$success-400: #677b92;
$success-600: #e2e7f8;
$success-700: #f5f6fb;
$success-900: #131b24;
$black: #000;
$black-30: rgb(24 24 28 / 30%);
$overlay: rgb(24 24 28 / 30%);
$brand: #EBF2FA;
$categories: #EEEDF2;
$sale: #F2F6F9;
$mobile-filter: #E8EEF3;
$fitting-block: #EEF1F9;