/* font-family: "GreycliffCF Thin"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Thin.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 100;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-ThinOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 100;
  font-display: swap
}

/* font-family: "GreycliffCF Extra Light"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-ExtraLight.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 200;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 200;
  font-display: swap
}

/* font-family: "GreycliffCF Light"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Light.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-LightOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 300;
  font-display: swap
}

/* font-family: "GreycliffCF Regular"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Regular.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-RegularOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 400;
  font-display: swap
}

/* font-family: "GreycliffCF Medium"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Medium.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-MediumOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 500;
  font-display: swap
}

/* font-family: "GreycliffCF Demi Bold"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-DemiBold.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 600;
  font-display: swap
}

/* font-family: "GreycliffCF Bold"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Bold.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-BoldOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 700;
  font-display: swap
}

/* font-family: "GreycliffCF Extra Bold"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-ExtraBold.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.ttf") format("truetype");
  font-size: 70px;
  font-style: oblique;
  font-weight: 800;
  font-display: swap
}

/* font-family: "GreycliffCF Heavy"; */

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-Heavy.ttf") format("truetype");
  font-size: 70px;
  font-style: normal;
  font-weight: 900;
  font-display: swap
}

@font-face {
  font-family: "Greycliff CF";
  src: url("@fonts/GreycliffCF/GreycliffCF-HeavyOblique.ttf") format ("truetype");
  src: url("@fonts/GreycliffCF/GreycliffCF-HeavyOblique.woff") format("woff");
  font-size: 70px;
  font-style: italic;
  font-weight: 900;
  font-display: swap
}
