.v-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background: $overlay;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: initial;

  &__wrapper {
    display: grid;
    gap: 32px;
    width: 100%;
  }

  &__text {
    font-size: 14px;
    color: $gray-dark;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &--col {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
  }

  &__desktop {
    position: relative;
    min-width: 400px;
    min-height: 200px;
    padding: 40px;
    background: white;
    scrollbar-width: thin;
    scrollbar-color: $success-50 $success-200;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $success-50;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: $success-200;
      border-radius: 2px;
    }

    &:has(.newsletter-subscription-modal) {
      padding: 0;
    }
  }

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -24px;
    right: -24px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: white;
      width: 20px;
      height: 2px;
      border-radius: 5px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &--mobile {
      right: 10px;
      top: 10px;

      &::before,
      &::after {
        width: 14px;
        background: #677b92;
      }
    }
  }
}
